.bar-card {
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
}
.bar-card-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fl-1 {
    flex: 1;
}
.add-pad {
    padding-left: 18px;
}