
.map-controller {
    height: calc(100vh - 64px);
    padding: 15px 10px;
}
.map-container {
    height: calc(100vh - 64px);
}
.no-access-container {
    width: 100%; 
    height: calc(100vh - 64px);
}
@media only screen and (max-width: 599px) {
    .no-access-container {
        height: calc(100vh - 54px);
    }
    .map-controller {
        height: calc(100vh - 54px);
    }
}