.open-bar-crawl-button {
    bottom: 10px;
    right: 0px;
}

@media (max-width: 1200px) {
    .map-container {
        flex: 6 !important;
    }
}

@media (max-width: 1024px) {
    .map-controller {
        height: unset !important;
        flex: unset !important;
        overflow: unset !important;
    }
    .open-bar-crawl-button {
        top: 0px !important;
        left: 10px !important;
        bottom: unset !important;
        right: unset !important;
    }
}
@media (max-width: 1024px) {
    .root-container {
        flex-direction: column;
    }
}